[user]
    name = kobayashi
    email = kobayashi@qone.co.jp
[color]
    ui = auto
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[alias]
    br = branch -v
    st = status
    ci = commit -v
    co = checkout
    difff = diff --word-diff
